.one {
    float: left;
    @util border-color(#fff);
    color: #fff;
}

.two {
    float: left;
    @util border-color(#a60b55 #76cd9c);
    color: #fff;
}

.three {
    @util border-color(#a60b55 #76cd9c #fff);
}

.four {
    @util border-color(#a60b55 null #76cd9c #fff);
}

.four-equals {
    @util border-color(#fff #fff #fff #fff);
}
