.one {
    float: left;
    @util border-width(3%);
    color: #fff;
}

.two {
    float: left;
    @util border-width(1em 20px);
    color: #fff;
}

.three {
    @util border-width(1em 3% 20px);
}

.four {
    @util border-width(1em null 3% 20px);
}

.four-equals {
    @util border-width(1em 1em 1em 1em);
}
