.one {
    float: left;
    border-width: 3%;
    color: #fff;
}

.two {
    float: left;
    border-top-width: 1em;
    border-right-width: 20px;
    border-bottom-width: 1em;
    border-left-width: 20px;
    color: #fff;
}

.three {
    border-top-width: 1em;
    border-right-width: 3%;
    border-bottom-width: 20px;
    border-left-width: 3%;
}

.four {
    border-top-width: 1em;
    border-bottom-width: 3%;
    border-left-width: 20px;
}

.four-equals {
    border-width: 1em;
}
