.one {
    float: left;
    @util border-style(dashed);
    color: #fff;
}

.two {
    float: left;
    @util border-style(solid dotted);
    color: #fff;
}

.three {
    @util border-style(solid dashed dotted);
}

.four {
    @util border-style(solid null dashed dotted);
}

.four-equals {
    @util border-style(solid solid solid solid);
}
