/* Clear Fix IE8
   ========================================================================== */
.cfx,
.foo,
.bar {
    margin: 0;
    top: 3px;
}
.cfx:after,
.cfx:before,
.foo:after,
.foo:before,
.bar:after,
.bar:before {
    display: table;
    content: ' ';
}
.cfx:after,
.foo:after,
.bar:after {
    clear: both;
}

.woo {
    float: left;
}

.cfx:after,
.cfx:before {
    display: table;
    content: ' ';
}

.cfx:after {
    clear: both;
}
