.selector {
    color: #fff;
    float: right;
}

@util hd {
  .foo {
    float: right;
    top: 0;
  }

  .bar {
    color: red;
  }
}

.foo {
    color: red;
}

@util hd(1.25dppx) {
  .bar {
    border: 0;
  }
}

@util hd(192dpi) {
  .bar {
    border: 0;
  }
}
