.selector {
    color: #fff;
    float: right;
}

@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  .foo {
    float: right;
    top: 0;
  }

  .bar {
    color: red;
  }
}

.foo {
    color: red;
}

@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  .bar {
    border: 0;
  }
}

@media print, (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .bar {
    border: 0;
  }
}
