.one {
    padding: 1em;
}

.two {
    float: left;
    padding-top: 20px;
    padding-right: 10%;
    padding-bottom: 20px;
    padding-left: 10%;
    color: #fff;
}

.three {
    padding-top: 20px;
    padding-right: 10%;
    padding-bottom: 1em;
    padding-left: 10%;
}

.four {
    padding-top: 20px;
    padding-bottom: 10%;
    padding-left: 1em;
}

.four-equals {
    padding: 1em;
}
