.foo {
    float: left;
    top: 0;
    left: 10em;
    position: absolute;
    color: #fff;
}

.foo {
    float: left;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    color: #fff;
}
