a {
    color: #fff;
    width: 2em;
    height: 2em;
    float: left;
}

b {
    width: auto;
    height: 10em;
}

c {
    width: 200px;
    height: 100px;
}

d {
    max-width: 100px;
    max-height: 200px;
}

e {
    min-width: 100px;
    min-height: 200px;
}
