html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.wrapper {
    margin-bottom: 10em;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10em;
    width: 100%;
}
