.test {
    min-height: 100%;
    margin-bottom: -4em;
}

.test:after {
    display: block;
    content: "";
    height: 4em;
}

.footer {
    background-color: black;
    height: 4em;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -10em;
}

.wrapper:after {
    display: block;
    content: "";
    height: 10em;
}

.pie {
    color: #fff;
    height: 10em;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.fluid {
    background: black;
    color: white;
    display: table-row;
    height: 1px;
}
