/* Triangle
   ========================================================================== */
.triangle-down {
    @util triangle(12px, gray, down);
    display: inline-block;
}

.triangle-up {
    @util triangle(12px, gray, up);
    display: inline-block;
}

.triangle-left {
    @util triangle(12px, gray, left);
    display: inline-block;
}

.triangle-right {
    @util triangle(12px, gray, right);
    display: inline-block;
}

.triangle-up-left {
    @util triangle(20px, gray, up-left);
    display: inline-block;
}

.triangle-up-right {
    @util triangle(20px, gray, up-right);
    display: inline-block;
}

.triangle-down-left {
    @util triangle(20px, gray, down-left);
    display: inline-block;
}

.triangle-down-right {
    @util triangle(20px, gray, down-right);
    display: inline-block;
}

.triangle-default {
    @util triangle;
}
