<header>
  <div class="container">
    <div class="row">
      <div class="col-4 col-sm-12">
        <a class="logo" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/img/logo.svg" alt="{{ site.name }}">
        </a>
      </div>
      <div class="col-8 col-sm-12">
        <nav class="site-nav">
          <ul>
            <li><a href="/">Getting Started</a></li>
            <li><a href="/docs">Documentation</a></li>
            <li><a href="http://github.com/ismamz/postcss-utilities">GitHub</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
