<header>
  <div class="container">
    <div class="row">
      <div class="col-4 col-md-12">
        <a class="logo" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/img/logo.svg" alt="{{ site.name }}">
        </a>
      </div>
      <div class="col-8 col-md-12">
        <nav class="site-nav">
          <ul>
            <li><a href="{{ site.baseurl }}/">Getting Started</a></li>
            <li><a href="{{ site.baseurl }}/docs">Documentation</a></li>
            <li><a href="http://github.com/ismamz/postcss-utilities"><img src="{{ site.baseurl }}/img/github.svg" alt="" width="16"> GitHub</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
