<nav class="sidebar">
  <ul>
    <li><a href="#aspect-ratio">aspect-ratio</a></li>
    <li><a href="#center">center</a></li>
    <li><a href="#center-block">center-block</a></li>
    <li><a href="#circle">circle</a></li>
    <li><a href="#clear-fix">clearfix</a></li>
    <li><a href="#hd-breakpoint">hd breakpoint</a></li>
    <li><a href="#hide-visually">hide-visually</a></li>
    <li><a href="#horizontal-rule">hr</a></li>
    <li><a href="#hover">hover</a></li>
    <li><a href="#no-js">no-js</a></li>
    <li><a href="#reset-list">reset-list</a></li>
    <li><a href="#text-hide">text-hide</a></li>
    <li><a href="#triangle">triangle</a></li>
    <li><a href="#truncate">truncate</a></li>
    <li class="li-btn"><a href="https://github.com/ismamz/postcss-utilities/pull/new/master">Suggest one</a></li>
  </ul>
</nav>
