// Mobile breakpoints
// ======================================

@mixin tablet {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}


// Convert pixels to ems
// eg. for a relational value of 12px write em(12) when the parent is 16px
// if the parent is another value say 24px write em(12, 24)
// ======================================

@function em($pixels, $context: $base-em) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}


// Clearfix mixin
// ======================================

@mixin clearfix() {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}


// Reset lists
// include this mixin for unstyled lists
// ======================================

@mixin reset-list() {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}
